:root{
    --noir : #1f1f1f;
    --violet : #b51ceb;
    --rouge : #ff0000;
    --bleu : #3278cb;
    --gris : #787878;
    --violetfoncé : #8f00ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
a{
    text-decoration: none;
    color: white;
}
ul, ol{
    list-style: none;
}
img {
    vertical-align: bottom;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
label:not(:first-child){
  margin-top: 2rem;
}
input{
  border-radius: 5px;
  border: none;
  padding: .3rem;
}
input[type=submit]{
  padding: .5rem;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
textarea{
  resize: vertical;
  height: 5rem;
}
.error{
  color: red;
}
html{
    scroll-behavior: smooth;
    /* color-scheme: dark light; */
}
body{
    font: 400 16px/1.4 'Kodchasan', sans-serif;
    min-height: 100vh;

}
body::-webkit-scrollbar{
    display: none;
}
/* body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: var(--violet);
} */


.titre{
    font-family: 'VT323', cursive;
    font-size: 64px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    margin-left: 4rem;
}
.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.cursor{
    z-index: 999;
    position: fixed;
    background: var(--violet);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 20px var(--violet),
                0 0 60px var(--violet);
    animation: colors 5s infinite;   
    transform: translate(-50%, -30%);    
}
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(90deg);
    }
}
.cursor:active{
    cursor: pointer;
}
.cursor:before{
    content: '';
    position: absolute;
    background: var(--violet);
    width: 3rem;
    height: 3rem;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

/* header */

#masthead{
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 900;
}
#masthead #accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
#accueil .logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 130%);
    margin-left: 3rem;
}
#masthead .menu{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    gap: 5.2rem;
}
.menu a {
    color: white;
    font-weight: bold;
    padding: 1.9rem 0.5rem;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--bleu);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: ease-in-out .4s;
    z-index: -1;
}
.menu a:hover:before{
    height: 100%;
    opacity: 0.7;
    background: linear-gradient(90deg, rgba(50,120,203,1) 0%, rgba(0,117,255,1) 100%);
}

/* cards */
#site .card{
    height: 100dvh;
    width: 100dvw;
    max-width: 100%;
    color: white;
    position: sticky;
    top: 0;
    background: rgb(143, 0, 255, 0.8);
}
.card{
    filter: brightness(70%);
}
.card .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card.fir{
    position: relative;
    background: var(--violetfoncé);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card.fir .intro{
    z-index: 100;
}
.card.fir .container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    opacity: .7;
}
.container .box{
    position: absolute;
    background: black;
}
.card.sec{
    background: grey;
}
.card.thi{
    background: red;
}
.card.fou{
    background: purple;
}

/* bannière */
#site .banner{
    font-size: 1.5rem;
    background: purple;
    width: 100%;
    height: 50vh;
    position: sticky;
}
.banner .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner .desc{
    text-align: center;
}

/* footer */
#colophon{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    z-index: 900;
}
#colophon .foot-menu{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    gap: 5.2rem;
}
.foot-menu a {
    color: white;
    padding: 1.9rem 0.5rem;
    position: relative;
    z-index: 11;
}
.foot-menu a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--bleu);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: ease-in-out .4s;
    z-index: -2;
}
.foot-menu a:hover:before{
    height: 100%;
    opacity: 0.7;
    background: linear-gradient(90deg, rgba(50,120,203,1) 0%, rgba(0,117,255,1) 100%);
}